.DS_Store
desktop.ini

.env
.env.*

node_modules/
dist/
target/
build/

.idea/
.vscode/

*.log
*.pid
*.out

coverage/

distributed_services/processing_node/storage/
client_web/Image_Processing_backend/uploads/
